#fast{text-align: center; background-color: chartreuse; border: solid 5px;}
p{color: aqua; background-color: blue; border: solid burlywood;}
a{text-align: center; border: dotted chocolate; color: rgba(255, 6, 6, 0.986);}
